.f-display {
  font-family: var(--font-archivo-extrabold);
  font-size: 40px;
}

.f-h1 {
  font-family: var(--font-archivo-extrabold);
  font-size: 24px;
}

.f-h2 {
  font-family: var(--font-archivo-extrabold);
  font-size: 20px;
}

.f-h3 {
  font-family: var(--font-archivo-extrabold);
  font-size: 18px;
}

.f-button {
  font-family: var(--font-archivo-extrabold);
  font-size: 14px;
}

.f-label-m {
  font-family: var(--font-archivo-semibold);
  font-size: 14px;
}

.f-label-s {
  font-family: var(--font-archivo-semibold);
  font-size: 12px;
}

.f-overline {
  font-family: var(--font-archivo-semibold);
  font-size: 12px;
  @include uppercase;
}

.f-body-l {
  font-family: var(--font-archivo-regular);
  font-size: 16px;
  line-height: 130%;
}

.f-body-m {
  font-family: var(--font-archivo-regular);
  font-size: 14px;
  line-height: 130%;
}

.f-body-s {
  font-family: var(--font-archivo-regular);
  font-size: 12px;
  line-height: 130%;
}
